* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #183b4e;
	text-align: center;
}

.container {
	margin: 8rem auto 2rem;
}

h1 {
	color: #e9a319;
	margin-bottom: 1.5rem;
  font-size: 3rem;
}

.input-box {
	display: flex;
	align-items: center;
	width: 500px;
	margin: auto;
	padding: 1rem 2rem;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.input-box input {
	flex: 1;
	padding:  0.75rem;
	width: 100%;
	border-radius: 3px;
	border: none;
	outline: none;
	position: relative;
  cursor: pointer;
}

.input-box input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  padding: 0.5rem;
  left: 0;
  right: 0;
  top: 0;
  bottom:  0;
  cursor: pointer;
  width: auto;
  height: auto;
  background-position: calc(100% - 5px);
  background-size: 1.2rem;
}

.input-box button {
	padding: 0.75rem 1.2rem;
	margin-left: 1rem;
	border-radius: 3px;
	border: none;
	background-color: #d48f06;
	color: white;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
}

button:hover {
	background-color: #c88808e8;
}

::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
	text-transform: uppercase;
}

span {
  padding: 0.5rem;
  color: #E9A319;
  margin-top: 5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
}

